h5{
	text-align:right;
}
.one{
	background-color: pink;
	padding:10px;
}
.two{
  background-color:red;
  padding:10px;
}

.three{
	background-color:silver;
	padding:10px;
}

.onee{
	padding:20px;
}

.twoo{
	padding:20px;
}

.threee{
	padding:20px;
}